@charset "UTF-8";

/* PALETA DE CORES */
:root {

    /* TEXTO */
    --subtituloUsuario: #d89eff;
    --corBatpapoLeft: #9241c8;
    --corBatpapoRight: #6e5d7e;
    --titulo: #3e2753;
    --paragrafo: #a39daa;

    /* GRADIENTES */
    --gradientMagenta: #e942ff;
    --gradientviolet: #8838ff;
    
    /* CORES SECUNDÁRIAS */
    --fundoApp: #f5f3f7;
    --botaoEnviar: #3e2753;
    --outlineBotaoEnviar: #e570ff;

}

/* CORPO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

.conteudoContainer {
    max-width: 862px;
    width: 100%;
    margin: 5rem auto 1rem auto;
    display: flex;
    align-items: center;
    gap: 9rem;
}

.conteudoContainer::before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, var(--gradientviolet), var(--gradientMagenta) 148%);
    display: block;
    width: 28rem;
    height: 89vh;
    z-index: -1;
    left: -5.1rem;
    top: 0;
    border-radius: 0 0 43% 49%;
}

.conteudoContainer::after {
    position: absolute;
    content: '';
    background-color: var(--fundoApp);
    display: block;
    width: 27rem;
    height: 89vh;
    z-index: -1;
    right: -5.1rem;
    bottom: 0;
    border-radius: 43% 49% 0 0;
}

/* CELULAR */
.conteudo__telaCelular {
    background-color: var(--fundoApp);
    border: 10px solid white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 16px;
}

/* ÁREA DE INFORMAÇÕES DO PERFIL DO USUÁRIO */
.telaCelular__infoUsuario {
    background-image: linear-gradient(to right, var(--gradientviolet), var(--gradientMagenta));
    border-radius: 16px 16px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    padding-top: 2.3rem;
    position: relative;
}

.telaCelular__infoUsuario::before {
    content: '';
    background-color: white;
    width: 58%;
    height: 1.35rem;
    display: block;
    position: absolute;
    top: 0;
    border-radius: 0 0 32px 32px;
    left: 4rem;
}

.infoUsuario__perfilUsuario {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-right: 3rem;
}

.perfilUsuario__iconeVoltar {}

.perfilUsuario__iconeVoltar i {
    color: white
}

.perfilUsuario__perfil {
    display: grid;
    grid-template-columns: 2rem 8rem;
    grid-template-rows: 1rem 1rem;
    gap: 0.4rem 0.8rem;
}

.perfilUsuario__perfil img {
    width: 35px;
    grid-row: 1/3;
    border: 3px solid white;
    border-radius: 50%;
}

.perfilUsuario__perfil h3 {
    font-size: 0.9em;
    color: white;
    font-weight: 500;
}

.perfil__disponivel {
    font-size: 0.7em;
    color: var(--subtituloUsuario);
}

.infoUsuario__menu {}

.infoUsuario__menu i {
    color: white;
}

/* ÁREA DA CONVERSA E DIGITAÇÃO DE MENSAGEM */
.telaCelular__conversasUsuario {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.conversasUsuario__mensagem {
    color: var(--corBatpapoLeft);
    background: #80808029;
    padding: 0.5rem;
    width: 12rem;
    border-radius: 10px;
}

.conversasUsuario__mensagem p {
    font-size: 0.7em;
    line-height: 1.4em;
}

/* MENSAGEM QUE VAI SER EXIBIDA NO CANTO DIREITO DA TELA */
.conversasUsuario__mensagem--direita {
    align-self: flex-end;
    background-color: white;
    color: var(--corBatpapoRight);
    box-shadow: 2px 3px 7px #0000002e;
}

.conversasUsuario__mensagemImg {
    display: flex;
    gap: 0.5rem;
}

.conversasUsuario__mensagemImg img {
    width: 50px;
    border-radius: 10px;
}

/* MENSAGEM DE TEMPO E PREÇO DA CORRIDA */
.conversasUsuario__mensagemTempoPreco {
    background-image: linear-gradient(to left, var(--gradientviolet), var(--gradientMagenta));
    padding: 0.5rem 0.9rem;
    width: 12rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.mensagemTempoPreco__tempo {
    font-size: 0.7em;
    color: white;
    padding-left: 1.3rem;
}

.mensagemTempoPreco__tempo::before {
    content: '';
    display: block;
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: transparent;
    position: absolute;
    top: 0.6rem;
    border: 2px solid #fefefe36;
    left: 0.7rem;
}

.mensagemTempoPreco__preco {
    color: white;
    font-weight: 600;
}

/* ÁREA DE DIGITAR MENSAGEM */
.telaCelular__escreverMensagem {}

.escreverMensagem__mensagem {
    height: 38px;
}

.escreverMensagem__botaoEnviar {}

/* INTRODUÇÃO */
.conteudo__introducao {}

.conteudo__introducao h1 {
    color: var(--titulo);
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 1rem;
}

.conteudo__introducao p {
    color: var(--paragrafo);
    line-height: 1.5em;
    font-size: 1.1em;
}